@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

.quote {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 3rem 0; */
  /* background-color: aquamarine; */
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.title > span:nth-of-type(2) {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.1rem var(--primaryBlue);
}
.title > :not(span:nth-of-type(2)) {
  font-size: 4.2rem;
  font-family: "Space Grotesk";
  color: var(--primaryBlue);
  padding: 1rem;
}

.q-wrapper {
  position: relative;
}

.quote-cards {
  display: flex;
  justify-content: center;
  height: 35rem;
}
/* decorations */

.q-square1 {
  width: 15rem;
  height: 10rem;
  background-color: #e4f3ff;
  position: absolute;
  right: 50%;
  top: 0%;
  z-index: -1;
}

.q-square2 {
  width: 15rem;
  height: 10rem;
  background-color: #e4f3ff;
  position: absolute;
  left: 50%;
  top: 73%;
  z-index: -1;
}

.circle1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1.4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10 15a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(206, 98%, 36%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  z-index: -2;
  left: 100%;
  top: -3%;
}

.circle2 {
  position: absolute;
  left: -28%;
  top: 70%;
  width: 10rem;
  height: 10rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(00.5rem) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='hsla(206, 98%, 36%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  z-index: -2;
}
