.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-wrapper {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.a-right {
  flex-basis: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 20rem;
  background-color: lightblue;
}

.image {
  padding: 4rem;
  z-index: 1;
}

.square1 {
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: #9bb8d4;
  right: 5%;
  bottom: 56%;
}

.square2 {
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: #c3e4f3;
  left: 3%;
  top: 53%;
}

.a-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;
  /* width: 100vw; */
  padding: 1.5rem;
  max-width: 120ch;
  min-width: 60ch;
}

.a-left span:nth-of-type(1) {
  font-size: 3rem;
  color: var(--primaryBlue);
}

.a-left span:nth-of-type(1) > span {
  color: white;
  background: var(--primaryBlue);
  padding: 0.1rem 0.1rem;
}

.a-left span:nth-of-type(2) {
  font-size: 1.7rem;
}

@media screen and (max-width: 700px) {
  .a-wrapper {
    flex-direction: column;
  }
}
