.card {
  width: 16%;
  position: relative;
  height: 100%;
}

.c-background {
  cursor: pointer;
  position: absolute;
  width: 95%;
  height: 100%;
  transform: skewX(-8deg);
}

.c-background:hover {
  filter: brightness(105%);
  transition: all 0.3s ease;
}
.c-name {
  position: absolute;
  top: 85%;
  left: -3%;
}

.c-name span {
  font-size: 2.5rem;
  color: white;
}

.c-name span:nth-of-type(2) {
  position: absolute;
  top: 60%;
  left: -1rem;
}

.c-image > img {
  height: 95%;
  top: 2%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  transform: skewX(8deg);
}
