@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.intro {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
  border-bottom: 2vh solid var(--primaryBlue);
}

.blue-line {
  background-color: var(--lightBlue);
  margin-bottom: 1vh;
  height: 2vh;
}
.yatora {
  position: relative;
  height: 95vh;
  overflow: hidden;
}
.mc {
  position: absolute;
  height: 100vh;
  transform: scale(1.9) translate(22%, 22%);
  top: 0;
  left: 0;
}
.i-logo {
  position: absolute;
  /* height: 100vh; */
  /* transform: translate(22%, 22%); */
  /* transform: scale(0.5); */
  height: 12rem;
  top: 120%;
  right: 5%;
  /* left: 70%; */
}

.i-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 5%;
  top: 18%;
  /* background: white; */
}

.i-title span {
  line-height: 6.5rem;
  font-family: "Archivo Black", sans-serif;
  z-index: 2;
  -webkit-mask-image: url(../../img/texture1.png);
  mask-image: url(../../img/texture1.png);
}

.i-title > span:nth-of-type(1) {
  font-size: 7.5rem;
  color: var(--lightBlue);
  mask-size: 120%;
  mask-position: 20% 40%;
}

.i-title > span:nth-of-type(2) {
  font-size: 7.5rem;
  color: var(--primaryBlue);
  mask-size: 120%;
  mask-position: -10% 75%;
}

.i-author {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 5%;
  top: 85%;
  color: var(--primaryBlue);
}

.i-author span {
  font-size: 1.5rem;
  white-space: nowrap;
  color: var(--primaryBlue);
}
