.footer {
  min-height: 25vh;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.last-line {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem;
  align-items: end;
  gap: 2rem;
}

.last-line > span {
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}
.f-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.f-background {
  top: 5vh;
  position: absolute;
  height: 100vh;
  width: 110vw;
  background: var(--darkBlue);
  transform: rotate(-3deg);
  z-index: -1;
}
