.footer {
  min-height: 8vh;
  background: var(--darkBlue);
  z-index: 2;
}

.last-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  color: white;
}
